# Configuración de Base de Datos PostgreSQL (datos CBD, reportes)
DB_HOST=168.90.177.232
DB_PORT=2024
DB_NAME=bbdd-monitoreo-cid
DB_USER=cid_admin_user
DB_PASSWORD=tu_password

# Base de datos de autenticación (Igual que la principal en prod, o local en dev)
AUTH_DB_HOST=168.90.177.232
AUTH_DB_PORT=2024
AUTH_DB_NAME=bbdd-monitoreo-cid
AUTH_DB_USER=cid_admin_user
AUTH_DB_PASSWORD=tu_password

# Seguridad
SECRET_KEY=tu_clave_secreta_muy_segura

# URL de la API para el frontend
REACT_APP_API_URL=http://localhost:5001

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=tu_email@gmail.com
EMAIL_PASSWORD=tu_password_aplicacion
EMAIL_FROM=tu_email@gmail.com
EMAIL_TO=transporte.mopc@gmail.com
EMAIL_CC=emails_separados_por_coma
